main {
  font-family: helvetica, arial, sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

body {
    background: #ffffff;
    color:      #333333;
}

pre {
    padding: 1em;
    border: 0;
    background-color: #f8f8f8;
    color: #3777E6;
    font-size: 1.0rem;
}

a, a:active, a:visited {
    color: #FF0086;
}

h1, h2, h3, h4, h5 {
    margin-bottom: .1rem;
}

blockquote {
    border-left: 3px solid #ad00a1;
    margin: 0.5em 60px;
    padding: 0.5em 10px;
    font-style: italic;
}

footer {
  align: center;
  margin-top: 3rem;
}
